<div ng-controller='placesController'>
	<h1 class='text-center'>Add Location</h1>
	<div class='row'>
		<div class='col-md-6 col-md-offset-3'>
			<div class='form-group'>
				<input type='text' class='form-control' id='address' placeholder='Search an existing location' ng-model="address" ng-enter="trackLocation(address)">
			</div>
		</div>
	</div>
	<div class='row'>
		<div class='col-md-8 col-md-offset-2'>
			<div id='map-canvas' style='width: 100%; height: 50vh'></div>
		</div>
	</div>
	<div class='row hidden'>
		<div id='infowindow-content'>
			<h4 class='text-center'>Place Info</h4><p>Name: <span ng-bind='place.name'></span></p>
			<p>Address: <span ng-bind='place.address'></span></p>
			<p>Lat: <span ng-bind='place.lat'></span></p>
			<p>Long: <span ng-bind='place.long'></span></p>
			<div class='text-center'>
				<button type='button' ng-click='addPlace()'>Add to My Places</button>
				<button type='button'>Share</button>
			</div>
		</div>
	</div>
</div>