<div class='row'>
	
	<div class='container'>
		{{#if message}}
		<div class='alert alert-success' role='alert'>
			<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			{{ message}}
		</div>
		{{/if}}
		<div class="jumbotron">
			<h1>Tracklabs</h1>
			<p class='lead'>The premier tracking solution.</p>
			<a class='btn btn-lg btn-primary' href='/login'>Log In</a>
			<a class='btn btn-lg btn-success' href='/register'>Sign Up</a>
		</div>
	</div>
</div>