<div class='row'>
	<div class='container'>
		<div class="jumbotron">
			<h1>Tracklabs</h1>
			<p class='lead'>The premier tracking solution.</p>
			<a class='btn btn-lg btn-primary' href='/login'>Log In</a>
			<a class='btn btn-lg btn-success' href='/register'>Sign Up</a>
		</div>
	</div>
</div>